* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

html {
   scroll-behavior: smooth;
 }

.l-header {
   z-index: 1;
}

body {
   background-color: #fff2f2;
   margin-bottom: 210px;
}

/*==== BAGIAN CONTAINER HEADER ====*/

.container-header {
   overflow: hidden;
   position: absolute;
   top: 0px;
   z-index: 9999;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 15px 10%;
   background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}


.sticky-nav {
   overflow: hidden;
   position: fixed;
   top: -70px;
   left:0;
   right:0;
   z-index: 9999;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 13px 10%;
   background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
   transform: translateY(70px);
   transition: transform 500ms ease;
   -webkit-transition: transform 500ms ease;
   box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.562);
 }

/*==== BAGIAN LOGO HEADER ====*/

.logo {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-right: 100px;
   padding-right: 420px;
}

.logo a {
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   color: #ffffff;
   text-decoration: none;
   letter-spacing: 7px;
}

/*==== BAGIAN NAVBAR ====*/

li,   button {
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
   font-weight: 600;
   font-size: 17px;
   color: #ffffff;
   text-decoration: none;
}

.nav_links {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   list-style: none;
}

.nav_links li {
   display: inline-block;
   padding: 7px 20px;
}

.nav_links li a {
   transition: all 0.3s ease 0s;
   text-decoration: none;
   color: #ffffff;
}

.nav_links li a:hover {
   color: #00eeff
}

.btn-contact {
   padding: 9px 25px;
   background-color: #ffffff;
   color: #24252A;
   border: none;
   border-radius: 50px ;
   cursor: pointer;
}

.btn-contact:hover {
   background: #00eeff;
   color: #000;
}

/*==== BAGIAN JUMBOTRON PROFIL & CONTAINER PROFIL ====*/

.container-main {
   overflow: hidden;
   background-color: rgb(255, 255, 255);
   width: 100%;
   border: none;
   height: auto;
   box-sizing: border-box;
}

/*==== BAGIAN PROFIL ====*/

.profil-me {
   display: flex;
   justify-content: space-around;
   width: 100%;
   margin-top: 0px;
   height: 657px;
   background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}


/*==== BAGIAN PHOTO PROFIL ====*/

.photo-profil {
   align-self: center;
   position: absolute;
   margin-left: 790px;
   margin-bottom: 7px;
   margin-top: 0px;
   width: 330px;
   height: 330px;
}
#pht-profil {
   margin-left: 0px;
   width: 350px;
   height: 350px;
   border: none;
   border-radius: 50%;
   box-shadow: 5px 10px 12px rgba(0,0,0,.5);
}

/*==== BAGIAN PERKENALAN ====*/

.nama-profil {
   align-self: center;
   position: relative;
   margin-right: 570px;
   margin-bottom: 100px;
}

#nma-profil {
   font-family: 'Sora', Arial, Helvetica, sans-serif;
   font-size: 65px;
   text-align: start;
   color: #ffffff;
}

.nma-color {
   color: #00eeff;
}

/*==== BAGIAN MEDIA SOSIAL ====*/

.medsos-profil {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 923px;
   margin-top: 410px;
   position: absolute;
   width: 250px;
   font-size: 38px;

}

.medsos {
   color: #ffffff;
}

.medsos:hover {
   color: #00eeff;
}

/*==== BAGIAN BUTTON CV ====*/

.btn-cv {
   position: absolute;
   margin-top: 480px;
   margin-right: 980px;
   z-index: 30;
}

.btn {
   box-sizing: border-box;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-color: transparent;
   border: 4px solid #ffffff;
   border-radius: 0.6em;
   color: #ffffff;
   cursor: pointer;
   display: flex;
   align-self: center;
   font-size: 12px;
   font-weight: 600;
   line-height: 1;
   padding: 1.2em 2.8em;
   text-decoration: none;
   text-align: center;
   text-transform: uppercase;
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
 }

 .btn:\hover {
   color: rgb(0, 0, 0);
   outline: 0;
 }
 
 .first {
   transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
 }

 .first:hover {
   box-shadow: 0 0 40px 40px #00eeff inset;
 }

/*==== BAGIAN CONTAINER PORTOFOLIO ====*/

.portofolio {
   width: 100%;
   font-family: 'Open Sans', sans-serif;
   background-color: rgb(255, 255, 255);
}

/*==== BAGIAN PORTOFOLIO ====*/

.portofolio-text {
   position: absolute;
   align-items: center;
   margin-top: 40px;
   margin-left: 580px;
   border-bottom: 4px solid;
   font-size: 25px;
   color: rgba(28, 69, 255, 0.938);
   font-family: 'sora', Arial, Helvetica, sans-serif;
   z-index: 5;
}


.row-portofolio{
   position: absolute;
   margin-top: 100px;
   margin-left: 20px;
   padding-bottom: 60px;
   
 }

.col-4 {
   position: relative;
   float: left;
   width: 30%;
   padding: 0 200px;
 }

 
 /* Style the counter cards */
 .card {
   position: relative;
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 380px;
   min-width: 0px;
   margin-top: 30px;
   margin-left: -130px;
   word-wrap: break-word;
   background-color: rgb(0, 0, 0);
   background-clip: border-box;
   border: 3px solid rgba(0,0,0,.125);
   border-radius: .25rem;
   box-shadow: 0px 15px 12px rgba(0,0,0,.5);;
 }


.card-img, .card-img-top {
   border-top-left-radius: calc( 5px - 1px);
   border-top-right-radius: calc( 5px - 1px);
}
.card-img, .card-img-bottom, .card-img-top {
   width: 100%;
}

/* BAGIAN RESPONSIVE */
@media (max-width: 768px) {

/* BAGIAN HEADER */
   .container {
      padding: 10px 5%;
   }

/* BAGIAN NAVBAR */
   .nav_links {
      display: none;
   }


/* BAGIAN PROFIL */
   .profil {
      display: none;
   }

}

